@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap');
*{
    padding:0px;
    margin:0px;
}
body{
    font-family:'Poppins','sans-serif';
    width:100%;
    height:100vh;
    display:grid;
    place-items:center;
    background:#121213;
}
header{
    width:95%;
    height:95%;
    display:flex;
    flex-wrap:wrap;
    }

header .menu_side, .song_side{
    width:25%;
    height:90%;
    background:#111727;
    box-shadow:5px 0px 2px #090f1f;
    color:#fff;
}
header .song_side{
    position: relative;
    width:75%;
    background:#0b1320;
}
header .master_play {
    height:10%;
    width:100%;
    background:#111727;
    color:#fff;
    box-shadow:4px 5px 4px #090f1f;
}
header.menu_side a{
    text-decoration: none;
    color:#fff;
}
header .menu_side .home a h2 #hom{
    height:30px;
    width:300px;
    padding:5px;
    background:rgb(54, 226, 236);
    border: 1px solid rgb(54, 226, 236);
    font-size:15px;
    border-radius:20px;
    text-align:center;
}
header  .menu_side h1{
    font-size:25px;
    margin:15px 0px 0px 20px;
    font-weight:500;
}
header  .menu_side h2{
    font-size:20px;
    margin:15px 0px 0px 20px;
    font-weight:500;
}
header .menu_side .playlist
{
margin:5px 0px 0px 20px;
}
header .menu_side .playlist h4{
    font-size:14px;
    padding-bottom:10px;
    color:#4c5262;
    cursor:pointer;
    display: flex;
    align-items:center;
    margin:0px 0px 0px 15px;
    transition:.3s linear;
}
header .menu_side .playlist h4:hover{
    color:#fff;
}
header .menu_side .playlist h4 span {
    position:relative;
    margin-right:35px;
}
header .menu_side .playlist h4 span::before {
content:'';
position:absolute;
width: 4px;
height:4px;
border:2px solid#4c5262;
border-radius:50%;
top:-4px;
transition:.3s linear;
}
header .menu_side .playlist h4:hover span::before {
border:2px solid#fff;
}
header .menu_side .playlist h4 .bi{
    display:none;
}
header .menu_side .playlist .active{
    color:#36e2ec;
}
header .menu_side .playlist .active span{
    display:none;
}
header .menu_side .playlist .active .bi {
    display: flex;
    margin-right:20px;
}
header .menu_side .menu_song{
    width:100%;
    height:470px;
    margin-top:10px;
    overflow:auto;
}
header .menu_side .menu_song::-webkit-scrollbar {
    display:none;
}
header .menu_side .menu_song li{
    list-style-type:none;
    position:relative;
    padding:5px 0px 5px 20px;
    display:flex;
    align-items:center;
    margin-bottom:15px;
    cursor:pointer;
    transition:.3s linear;
}
header .menu_side .menu_song li:hover{
    background:rgb(105, 105, 105, .1);
}
header .menu_side .menu_song li span{
    font-size:12px;
    font-weight:600px; 
    color:#4c5262;
}
header .menu_side .menu_song li img{
    width:32px;
    height:32px;
    margin-left:25px;

}
header .menu_side .menu_song li h5{
    font-size:11px;
    margin-left: 15px;
    width:170px;
    /* border:1px solid #fff ;   */
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;  
}
header .menu_side .menu_song li h5 .subtitle {
font-size:9px;
color:#4c5262;
}
header .menu_side .menu_song li .bi{
    position :absolute;
    right:44px;
}
header .master_play {

    display:flex;
    align-items: center;
    padding:20px 20px;
}
header .master_play .song_Title{
    display: inline-flex;
    align-items:center;
    justify-content:center;
}
header .master_play .wave{
    width:30px;
    height:30px;
    /* border:1px solid#fff; */
    padding-bottom:5px;
    display:flex;
    align-items:flex-end;
    margin-right:10px;
}
header .master_play .wave .wave1{
    width:3px;
    height:10px;
    background:#36e2ec;
    margin-right:3px;
    animation:unset;
}
header .master_play .wave .wave1:nth-child(2){
    height: 13px;
    margin-right:3.5px;
    animation-delay:.4s;
}
header .master_play .wave .wave1:nth-child(3){
    height:8px;
    animation-delay:.8s;
}
/* javascript classes  */

header .master_play .active1 .wave1 {
    animation:wave .5s linear infinite;
}
header .master_play .active1 .wave1:nth-child(2) {
    animation-delay:.4s;
}
header .master_play .active1 .wave1:nth-child(3) {
    animation-delay:.8s;
}

@keyframes wave{
    0%{height:10px}
    50%{height:15px}
    100%{height:10px}
}
header .master_play img{
    width:35px;
    height:35px;
}
header .master_play h5{
    width:130px;
    /* border:1px solid #fff; */
    margin-left:15px;
    line-height:17px;
    overflow:hidden;
    white-space: nowrap;
    font-size:13px;
}
header .master_play h5 .subtitle{
    color:#4c5262;
    width:100%;
    font-size:11px;
    overflow:hidden;
    white-space: nowrap;
}
header .master_play .icon {
    position:relative;
    font-size:20px;
    margin:0px 10px 0px 40px;
    outline:none;
    align-items:center;
    display:flex;
    flex-direction:row;
}
header .master_play .icon .bi {
    outline:none;
    cursor:pointer;
    position:relative;
    margin-top:25px;
}
header .master_play .icon .shuffle {
    font-size:17px;
    margin-right:10px;
    width:17.5px;
    overflow:hidden;
    align-items:center;
    display:flex;
}
header .master_play .icon #download_music{
    text-decoration:none;
    color:#fff;
    font-size:20px;
    margin-left:10px;
    display:flex;
}
header .master_play .icon .bi:nth-child(3){
border: 1px solid rgb(105,105,105,.1);
border-radius: 50%;
padding:1px 5px 0px 7px;
margin:25px 5px 0px 5px;
}
header .master_play .time
{
    display: inline-flex;
    align-items:center;
    justify-content:center;
}
header .master_play span {
    width:32px;
    font-size:15px;
    font-weight:400;
}
header .master_play span #current_start{
    margin:0px 0px 0px 20px;
}
header .master_play .time{
    width:43%;
}
header .master_play .bar{
    position:relative;
    width:90%;
    height:2px;
    background:rgb(105,105,170,.1);
    margin:0px 15px 0px 10px;
}
header .master_play .bar .bar2{
position:absolute;
    background:#36e2ec;
    width:0%;
    top:0;
    height:100%;
    transition:1s linear;
}
header .master_play .bar .dot{ 
    position:absolute;
    width:5px;
    height:5px;
    background:#36e2ec;
    border-radius:50%;
    left:0%;
    top:-1.5px;
    transition:1s linear;
}
header .master_play .bar .dot::before{
    content:'';
    width:15px;
    height:15px;
    position:absolute;
    border:1px solid #36e2ec;
    border-radius: 50%;
    left:-6px;
    top:-6px;
    box-shadow:inset 0px 0px 3px #36e2ec;
}
header .master_play .bar input{
    position: absolute;
    width:100%;
    top:-7px;
    left:0px;
    cursor:pointer;
    z-index:9999999999999999999999999999999999999;
    transition:3s linear;
    opacity:0;
}
header .master_play .vol{
    position:relative;
    width:100px;
    height:2px;
    background:rgb(105,105,170,.1);
    margin-left:50px;
}
header .master_play .bi{
    position:absolute;
    font-size:25px;
    top:-17px;
    left:-30px;
}
header .master_play .vol input{
    position:absolute;
    width:100%;
    top:-6px;
    left:0px;
    cursor:pointer;
    z-index:99999999999999999999999999999999999;
    opacity:0;
}
header .master_play .vol_bar{
    position:absolute;
    background:#36e2ec;
    width:100%;
    height:100%;
    top:0;
    transition:  1s linear;
}

header .master_play .vol .dot{ 
    position:absolute;
    width:5px;
    height:5px;
    background:#36e2ec;
    border-radius:50%;
    left:100%;
    top:-1.5px;
    transition:1s linear;
}
header .master_play .vol .dot::before{ 
    content:'';
    width:15px;
    height:15px;
    position:absolute;
    border:1px solid #36e2ec;
    border-radius: 50%;
    left:-6px;
    top:-6px;
    box-shadow:inset 0px 0px 3px #36e2ec;
}
header .song_side{
    z-index: 2;
}
header .song_side::before{
    content:'';
    position:absolute;
    background :url('bg.png');                                    
    width:100%;
    height:300px;
    z-index:-1;
}
header .song_side nav{
    width:90%;
    height:10%;
    /* border:1px solid #fff; */
    margin:auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
header .song_side nav ul{
    display:flex;
}
header .song_side nav li{
    list-style: none;
    position:relative;
    font-size:13px;
    Color: #4c4c4c;
    margin-right:25px;
    cursor:pointer;
    transition:.3s linear;
}
header .song_side nav li:hover{
    color:#fff;
}
header .song_side nav li:nth-child(1){
    color:#fff;
}
header .song_side nav li span {
    position:absolute;
    width:100%;
    height:2px;
    background:#36e2ec;
    bottom:.5px;
    left:0px;
    border-radius:20px;
}
header .song_side nav .search{
    position: relative;
    width:40%;
    padding:1px 10px;
    border-radius: 20px;
    /* border:1px solid#fff; */
    color:grey;
}
header .song_side nav .search::before{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background:rgb(184,184,184,.1);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    z-index: -1;
}

header .song_side nav .search .bi{
    font-size:13px;
    padding:3px 0px 0px  10px;
}
header .song_side nav .search input{
    background:none;
    border:none;
    outline:none;
    padding:0px 10px;
    color:white;
    font-size:12px;
}
header .song_side nav .search .search_results{
    position:absolute;
    width:100%;
    height:200px;
    border-radius:10px;
    margin-top:10px;
    background:rgb(184,184,184,.05);
    z-index:9999999999999;
    overflow:auto;
}
header .song_side nav .search .search_results::-webkit-scrollbar{
    display: none;
}
header .song_side nav .search .search_results .card{
    width:100%;
    min-height:45px;
    display: flex;
    align-items: center;
    background:rgb(184,184,184,.05);
    margin-bottom:5px;
    text-decoration:none;
    display:none;
}
header .song_side nav .search .search_results .card img{
    width:35px;
    height:35px;
    border-radius:5px;
}

header .song_side nav .search .search_results .card .content{
color:#fff;
width:80%;
height:100%;
PADDING:0;
font-size:13px;
font-weight:600;
}
header .song_side nav .search .search_results .card .content .subtitle{
    color:#a4a8b4;
    width:80%;
    height:100%;
    font-size:11px;
    font-weight:500;
    }
header .song_side nav .user{
    position: relative;
    width:30px;
    height:30px;
     /* border:1px solid#fff; */
     border-radius:50%;
}
header .song_side nav .user img{
width:100%;
height:100;
border-radius: 50%;
box-shadow:2px 2px 8px #121213; 
}
header .song_side .content{
    width:90%;
    height:30%;
    /* border:1px solid #fff; */
    margin:auto;
    padding-top:20px;
}
header .song_side .content h1 {
    font-size: 25px;
    font-weight:600;
    color: #fff;
}
header .song_side .content p{
    font-size:11px;
    font-weight:400;
    color:#ffffff;
    margin:5px;
}
header .song_side .content .buttons{
margin-top:15px;
}
header .song_side .content .buttons button{
    width:130px;height:30px;
    border:2px solid #5adae0;
    outline:none;
    border-radius:20px;
    background:#5adae0;
    color:#ffff;
    cursor:pointer;
    transition:.3s linear;
    margin: -1px;
}
header .song_side .content .buttons button:hover{
    background:none;
    color: #36e2ec;
}
header .song_side .content .buttons button:nth-child(2){
    background:none;
    color:#36e2ec;
}
header .song_side .content .buttons button:nth-child(2):hover{
    background: #36e2ec;
    color:#fff;
}
header .song_side .popular_song{
    width:90%;
    height:auto;
    margin:auto;
    margin-top:10px;
    /* border:1px solid #fff; */

}
header .song_side .popular_song .h4{
    display:flex;
    align-items:center;
    justify-content:space-between;
    color: #fff;
}

header .song_side .popular_song .h4 .bi{
    color:#a4a8b4;
    cursor:pointer;
    transition:.3s linear;
}
header .song_side .popular_song .h4 .bi:hover{
    color:#fff;
}
header .song_side .popular_song  .pop_song{
    width:100%;
    height:150px;
    margin-top:15px;
    display:flex;
    /* border:1px solid #fff; */
    overflow:auto;
    scroll-behavior: smooth;
}
header .song_side .popular_song  .pop_song::-webkit-scrollbar{
    display:none;
}
header .song_side .popular_song  .pop_song li{
    min-width:100px;
    height:140px;
    list-style-type:none;
    margin-right:10px;
    transition:.10s linear;
}
header .song_side .popular_song  .pop_song li a{
    transform: smooth;
}
header .song_side .popular_song  .pop_song li:hover{
    min-width:100px;
    background:rgb(105,105,170,.1)
}
header .song_side .popular_song  .pop_song li .img_play{
    position:relative;
    width:100px;
    height:100x;
    display:flex;
    align-items:center;
    justify-content:center;
}

header .song_side .popular_song  .pop_song li .img_play img{
    width:100px;
    height:100px;
}
header .song_side .popular_song  .pop_song li .img_play .bi{
    position:absolute;
    font-size:20px;
    cursor:pointer;
    transition:.3s linear;
    opacity:0;
}
header .song_side .popular_song  .pop_song li:hover .img_play .bi{
    opacity:1;
}
header .song_side .popular_song  .pop_song li h5{
    padding:5px 0px 0px 5px;
    line-height:15px;
    font-size:10px;
    width:100px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
    color: #fff;
}
header .song_side .popular_song  .pop_song li h5 .subtitle{
    font-size: 9px;
    color:#4c5262;
}
header .song_side .popular_artists{
    width:90%;
    height:auto;
    margin:auto;
    margin-top:15px;
    /* border:1px solid #fff; */
}
header .song_side .popular_artists .h4{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

header .song_side .popular_artists .h4 .bi{
    color:#a4a8b4;
    cursor:pointer;
    transition:.3s linear;
}
header .song_side .popular_artists .h4 .bi:hover{
    color:#fff;
}
header .song_side .popular_artists .h4{
    display:flex;
    align-items:center;
    justify-content:space-between;
    color: #fff;
}

header .song_side .popular_artists .h4 .bi{
    color:#a4a8b4;
    cursor:pointer;
    transition:.3s linear;
}
header .song_side .popular_artists .h4 .bi:hover{
    color:#fff;
}
header .song_side .popular_artists .item{
    width:100%;
    height:100px;
    margin-top:15px;
    display:flex;
    overflow:auto;
    scroll-behavior: smooth;
}
header .song_side .popular_artists .item::-webkit-scrollbar{
    display:none;

}
header .song_side .popular_artists .item li {
    list-style-type: none;
    position:relative;
    height:75px;
    min-width:80px;
    border-radius:50%;
    margin-right:20px;
    cursor:pointer;
}
header .song_side .popular_artists .item li img {
    width:100%;
    height: 100%;
    border-radius:50%
}

/* ---------------RESPONSIVE FOR 1024PX ----------- */



@media screen and (max-device-width: 1024px){
    body{
        font-family:'Poppins','sans-serif';
        width:100%;
        height:100vh;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    header{
        border-radius: 20px;
        margin:5px;
        width:100%;
        height:100%;
        display:flex;
        align-items:center;
        justify-content:center;

        }
    header .menu_side{
        width: 100%;
        height:40%;
    }
    header .song_side{
        width:100%;
        background:#0b1320;
    }
    header .master_play
    {
        height:10%;
        width:100%;
    }
    header .menu_side .home{
        display:inline-flex;
        position: relative;
    }
header .menu_side .playlist
{display:inline-flex;
margin:15px 0px 0px 20px;
overflow:auto;
}
header .menu_side .home a h2 #hom{
    padding:5px;
    background:rgb(4, 155, 249);
    font-size:15px;
 
    text-align:center;
    width:160px;
}
header .menu_side .playlist h4{
    font-size:13px;
    font-weight:200px;
    padding-bottom:10px;
    color:#4c5262;
    cursor:pointer;
    align-items:center;
    margin:0px 10px 0px 5px;
    transition:.3s linear;
}
header .menu_side .playlist h4:hover{
    color:#fff;
}
header .menu_side .playlist h4 span {
    position:relative;
    margin-right:10px;
}
header .menu_side .playlist h4 span::before {
width: 3px;
height:3px;
}
header .menu_side .playlist .active .bi {
    display: flex;
    margin-right:15px;
}
header .menu_side .menu_song{
    width:90%;
    height:200px;
    margin-top:5px;
    overflow:auto;
}
header .menu_side .menu_song::-webkit-scrollbar {
    display:none;
}
header .menu_side .menu_song li{
    list-style-type:none;
    position:relative;
    padding:5px 0px 5px 20px;
    display:flex;
    align-items:center;
    margin-bottom:5px;
    cursor:pointer;
    transition:.3s linear;
}}



/*--------------------- responsive for max width 425px --------------------------*/


@media screen and (max-device-width: 425px){
    header .song_side{
        width:100%;
        overflow:hidden;
        border:1px solid rgb(236, 9, 9);
        border-radius: 5px;
        box-shadow: inset 7px 3px 300px 42px rgb(3, 1, 54);

    }
    header .song_side::before{
        content:'';
        position:absolute;
        background :url('bg.png');
        width:100vh;
        height:300px;
        z-index:-1;
    }
    header .song_side nav .user{
        display:none;
    }
    header .song_side nav{
        width:70%;
        height:10%;
        margin:5px;
        display:inline-flex;
        align-items: center;
        justify-content: space-between;
    }
    header .song_side nav ul{
        display:flex;
        margin:10px;
    }
    header .song_side nav .search{
        width:100px;
        border:1px solid rgb(250, 247, 247);

        padding:0px;
    }
    header .song_side nav .search .bi{
        font-size:8px;
        padding:3px 0px 0px  10px;
    }
    header .song_side nav .search input{
        background:none;
        border:none;
        outline:none;
        padding:0px 10px;
        color:white;
        font-size:12px;
    }
    header .song_side nav .search .search_results{
        background: transparent;
    }
    header .song_side .content{
        width:70%;
        height:25%;
        margin-left:5px;
        margin-right:5px;
    }
    header .song_side .popular_song{
        padding-top: 25px;
        width:100vh;
        overflow:hidden;
    }
    header .song_side .popular_artists{
        width:90%;
    }
    header .song_side .popular_artists .h4{
        display:flex;
        align-items:center;
        justify-content:space-between;
    }
    header .song_side .popular_artists .h4 .bi{
        color:#a4a8b4;
        cursor:pointer;
        transition:.3s linear;
    }
    header .song_side .popular_artists .h4 .bi:hover{
        color:#fff;
    }
    header .song_side .popular_artists .h4{
        display:flex;
        align-items:center;
        justify-content:space-between;
    }
    header .song_side .popular_artists .h4 .bi{
        color:#a4a8b4;
        cursor:pointer;
        transition:.3s linear;
    }
    header .song_side .popular_artists .h4 .bi:hover{
        color:#fff;
    }
    header .song_side .popular_artists .item{
        width:100%;
        height:auto;
        margin-top:15px;
        display:flex;
        overflow:auto;
        scroll-behavior: smooth;
    }
    header .song_side .popular_artists .item::-webkit-scrollbar{
        display:none;
    
    }
    header .song_side .popular_artists .item li {
        list-style-type: none;
        position:relative;
        height:75px;
        min-width:80px;
        border-radius:50%;
        margin-right:20px;
        cursor:pointer;
    }
    header .song_side .popular_artists .item li img {
        width:100%;
        height: 100%;
        border-radius:50%
    }
    header .master_play{
        width:90%;
        height:auto;
        display:grid;
        align-items:center;
        justify-content:center;
        grid-template-columns:5fr;
        border:1px solid rgb(236, 9, 9);
        box-shadow: inset 7px -5px 20px 7px rgba(3, 1, 54, 0.58);
        border-radius:5px;
    }
    header .master_play .song_Title{
        display: inline-flex;
        align-items:center;
        justify-content: center;
        margin-top:-10px ;
        border-bottom: 3px solid rgba(238, 6, 6, 0.689);
    }
    header .master_play .icon {
        margin:0px;
        position:relative;
        font-size:25px;
        padding:15px 0px 0px 25px;
        border-bottom: 3px solid rgba(238, 6, 6, 0.689);
        justify-content:space-evenly;
        align-items:center;
        display:inline-flex;
        /* flex-direction:row; */
    }
    header .master_play .time
    {
        display: inline-flex;
        align-items:center;
        justify-content:center;
        width: 325px;
        margin-top:20px;
        margin-bottom:10px;
        padding-left:16px;
        padding-bottom:5px;
    }

    header .master_play .vol{
        margin-top:20px;
        position:relative;
        width:68%;
        height:2px;
        background:rgb(105,105,170,.1);
        margin-left:50px;
        }

    header .master_play .wave{
        width:50px;
        height:50px;
    }
    header .master_play .wave .wave1{
        width:6px;
        height:19px;
    }
    header .master_play .wave .wave1:nth-child(2){
        height: 25px;
        margin-right:3.5px;
        animation-delay:.4s;
    }
    header .master_play .wave .wave1:nth-child(3){
        height:10px;
        animation-delay:.8s;
    }
    /* javascript classes  */
    header .master_play .active1 .wave1 {
        animation:wave .5s linear infinite;
    }
    header .master_play .active1 .wave1:nth-child(2) {
        animation-delay:.4s;
    }
    header .master_play .active1 .wave1:nth-child(3) {
        animation-delay:.8s;
    }
    @keyframes wave{
        0%{height:10px}
        50%{height:15px}
        100%{height:10px}
    }
    header .master_play img
    {
        width:45px;
        height:45px;
    }
    header .master_play h5
    {
        width:140px;
        margin-left:15px;
        line-height:20px;
        font-size:20px;
    }
    header .master_play h5 .subtitle
    {
        font-size:12px;
    }
    header .master_play .icon .bi {
        outline:none;
        cursor:pointer;
        position:relative;
        margin-top:25px;
    }
    header .master_play .icon .shuffle
    {
        font-size:17px;
        margin-right:10px;
        width:17.5px;
        overflow:hidden;
        align-items:center;
        display:flex;
    }
    header .master_play .icon #download_music
    {
        text-decoration:none;
        color:#fff;
        font-size:20px;
        margin-left:10px;
        display:flex;
    }
    header .master_play .icon .bi:nth-child(3)
    {
    border: 1px solid rgb(105,105,105,.1);
    }
    header .master_play span {
        width:20px;
        font-size:11px;
        font-weight:400;
        margin-right: 6px;
    }
    header .master_play span #current_start{
        padding:-15px;
    }
    header .master_play .bar{
        width:70%;
    }
    header .master_play .bar .bar2{
        position:absolute;
        background:#36e2ec;
        width:0%;
        top:0;
        height:100%;
        transition:1s linear;
    }
    header .master_play .bar .dot{ 
        position:absolute;
        width:5px;
        height:5px;
        background:#36e2ec;
        border-radius:50%;
        left:0%;
        top:-1.5px;
        transition:1s linear;
    }
    header .master_play .bar .dot::before{
        content:'';
        width:15px;
        height:15px;
        position:absolute;
        border:1px solid #36e2ec;
        border-radius: 50%;
        left:-7px;
        top:-6.5px;
        box-shadow:inset 0px 0px 3px #36e2ec;
    }
    header .master_play .bar input{
        position: absolute;
        width:100%;
        top:-7px;
        left:0px;
        cursor:pointer;
        z-index:9999999999999999999999999999999999999;
        transition:3s linear;
        opacity:0;
    }

    header .master_play .bi{
        position:absolute;
        font-size:25px;
        top:-20px;
        left:-28px;
    }
    header .master_play .vol input{
        position:absolute;
        width:100%;
        top:-6px;
        left:0px;
        cursor:pointer;
        z-index:99999999999999999999999999999999999;
        opacity:0;
    }
    header .master_play .vol_bar{
        position:absolute;
        background:#36e2ec;
        width:100%;
        height:100%;
        top:0;
        transition:  1s linear;
    }
    
    header .master_play .vol .dot{ 
        position:absolute;
        width:5px;
        height:5px;
        background:#36e2ec;
        border-radius:50%;
        left:100%;
        top:-1.5px;
        transition:1s linear;
    }
    header .master_play .vol .dot::before{ 
        content:'';
        width:15px;
        height:15px;
        position:absolute;
        border:1px solid #36e2ec;
        border-radius: 50%;
        left:-7px;
        top:-6.5px;
        box-shadow:inset 0px 0px 3px #36e2ec;
    }

}
@media screen and (max-device-width: 321px){
    body{
        width:100%;
        margin:0 auto;
        padding:0 auto;
    }
    header .playlist{
        width:320px;
    }
    header .song_side{
        width:320px;
    }
    header .master_play{
        width:320px;
    }
    header .song_side nav .search{
        width:40%;
        height:50px;
        margin-left:-20px;
        border:1px solid rgb(250, 247, 247);
    }
    header .song_side .content{
        width:70%;
        height:25%;
        margin-top: -30px;
        margin-left:5px;
        margin-right:5px;
    }
    header .song_side .popular_song{
        margin-top:65px;
        width:100vh;
        overflow:hidden;
    }
    header .song_side .popular_artists{
        width:90%;
        margin-top:-10px;
    }
}
